.evaluation-menu {
   position: relative;

   &__block {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      width: 100%;
   }

   &__item {
      flex: 0 0 auto;
      @extend %imgContain;
      width: 39.2px;
      height: 37.5px;
      cursor: pointer;
      box-sizing: content-box;
      &:not(:last-child) {
         padding-right: 18px;
      }
      &.active,
      &.js-hover {
         .evaluation-menu__item-blank {
            display: none;
         }
         .evaluation-menu__item-full {
            display: block;
         }
      }
   }
   &__item-full {
      display: none;
   }
}

.title {
   font-weight: 600;
   font-size: 46px;
   text-align: center;
   line-height: 46px;
}
.input {
   background: #ffffff;
   border-radius: 5px;
   padding: 15px 20px;
   font-size: 16px;
   line-height: 24px;
   &::placeholder {
      color: rgba(0, 0, 0, 0.3);
   }
}
.btn {
   padding: 15px 20px;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   background: #27c940;
   border-radius: 5px;
   color: #fff;
   text-align: center;
}
.subtitle {
   font-weight: 500;
   font-size: 18px;
   text-align: center;
   text-transform: uppercase;
}
.page-main {
   .container {
   }
   &__content {
      padding: 20px 0 80px;
   }

   &__section-to-hide {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 30px;
   }

   &__top-line {
      padding: 30px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 30px;
      color: #ff112b;
      margin-bottom: 45px;
   }

   &__top-line-img {
      width: 58px;
      height: 58px;
      @extend %imgContain;
      margin-right: 10px;
   }

   &__title {
      margin-bottom: 20px;
   }

   &__descr {
      font-weight: 500;
      font-size: 30px;
      text-align: center;
      margin-top: -10px;
      margin-bottom: 35px;
   }

   &__paragraph {
      display: flex;
      align-items: center;
      padding: 0 60px 0px 60px;
   }

   &__paragraph-img {
      width: 100px;
      height: 100px;
      flex: none;
      margin-right: 46px;
   }

   &__paragraph-text {
      line-height: 24px;
      color: rgba(0, 0, 0, 0.7);
      max-width: 700px;
   }

   &__section-main {
      padding-top: 65px;
   }

   &__subtitle {
      margin-bottom: -5px;
   }
}
.form {
   padding: 30px;
   background: rgba(3, 3, 3, 0.05);
   border-radius: 10px;
   max-width: 552px;
   margin: 0 auto;
   margin-bottom: 70px;
   &__input {
      width: 100%;
      margin-bottom: 30px;
   }

   &__btn {
      width: 100%;
      margin-bottom: 18px;
   }

   &__descr {
      display: flex;
      align-items: center;
      max-width: 350px;
      font-size: 16px;
      line-height: 20px;
      margin: 0 auto;
   }

   &__img {
      flex: none;
      width: 25px;
      height: 25px;
      @extend %imgContain;
      margin-right: 5px;
      &:last-of-type {
         margin-right: 12px;
      }
   }
}

.result {
   display: flex;
   flex-direction: column;
   // height: 100%;
   .container {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // height: 100%;
   }
   &__content {
      padding: 50px 0;
   }

   &__topside {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 70px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 70px;
   }

   &__title {
      margin-bottom: 20px;
   }

   &__progress-bar {
      margin-bottom: 80px;
   }

   &__one-more {
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      text-transform: uppercase;
      margin-bottom: 30px;
      a {
         color: #ff9900;
      }
   }

   &__btn-share {
      max-width: 350px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ff9900;
      border-radius: 10px;
   }

   &__bottomside {
      .result__title {
         margin-left: -25px;
         margin-right: -25px;
      }
   }

   &__subtitle {
      line-height: 18px;
      margin-bottom: 8px;
   }

   &__descr {
      font-size: 16px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.7);
      text-align: center;
   }
}

.review {
   &__content {
      padding: 80px 0 60px;
   }

   &__gif {
      height: 270px;
      margin: 0 auto;
      margin-bottom: 60px;
      width: max-content;
      border-radius: 10px;
      overflow: hidden;
      img {
         height: 100%;
      }
   }

   &__subtitle {
      margin-bottom: 15px;
      line-height: 18px;
   }

   &__title {
      margin-bottom: 20px;
   }

   &__descr {
      font-size: 16px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.7);
      text-align: center;
      margin-bottom: 30px;
   }

   &__list {
      margin: 0 auto;
      max-width: 564px;
      margin-bottom: 30px;
      transform: translateX(-27px);
   }

   &__list-item {
      display: flex;
      &:nth-child(3) {
         .review__list-item-text {
            max-width: 420px;
         }
      }
      &:not(:last-child) {
         .review__list-item-text {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
         }
      }
   }

   &__list-item-num {
      flex: 0 0 auto;
      width: 34px;
      height: 30px;
      margin: 17px 0;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f89925;
      border-radius: 4px;
      font-weight: 500;
      font-size: 18px;
      color: #fff;
      line-height: 18px;
   }

   &__list-item-text {
      flex: 1 1 auto;
      padding: 20px 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
   }

   &__contact-us {
      width: max-content;
      margin: 0 auto;
      padding: 26px 48px;
      display: flex;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.1);
   }

   &__phone-num {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      padding-right: 40px;
      margin-right: 40px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
   }

   &__email {
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
   }
   .form {
      margin-bottom: 40px;
      &__input {
         margin-bottom: 8px;
      }

      &__textarea {
         display: block;
         width: 100%;
         height: 94px;
         margin-bottom: 20px;
         &::placeholder {
            text-transform: uppercase;
         }
      }

      &__btn-contact-us {
         width: 100%;
         text-transform: uppercase;
      }
   }
}
